h1{
    font-weight: 800;
}
.sectionh{
    display: block;
}
.opcionesinicio{
    text-decoration: none;
    list-style: none;
    display: flex;
}
header ul{
    color: #000000;
    border: 2px solid rgb(0, 0, 0);
    padding: 4px;
    border-radius: 4px;
}
header li{
    margin-right: 10px;
}
main img{
    width: 300px;
}
.botonms{
    text-decoration: none;
    color: #000000;
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 5px;
}
.salbums{
    display: flex;
    justify-content: center;
}
.imagen{
    margin-right: 50px;
}
.sectionn{
    display: flex;
    justify-content: center;
}
.botonesf{
    display: flex;
    list-style: none;
}
footer img{
    width: 50px ;
}